ol {
    /* прибираємо стандартну нумерацію */
    list-style: none; 
    /* Ідентифікуємо лічильник і даємо йому ім'я li. Значення лічильника не вказано - за замовчуванням воно дорівнює 0 */ 
    counter-reset: counterlist 5; 
    }
    li:before {
    /* Визначаємо елемент, який нумеруватиметься - li. Псевдоелемент before вказує, що вміст, що вставляється за допомогою властивості content, буде розташовуватися перед пунктами списку. Тут же встановлюється значення приросту лічильника (за замовчуванням дорівнює 1). */
    counter-increment: counterlist -1; 
    /* За допомогою властивості content виводиться номер пункту списку. counters () означає, що текст, який генерується являє собою значення всіх лічильників з таким ім'ям. Крапка в лапках додає розділяючу крапку між цифрами, а крапка з пропуском додається перед вмістом кожного пункту списку */
    content: counters(counterlist,".") ". "; 
    }